<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdp.mapper.BlogMapper">
    <update id="updateBatchByLikedNumsMap">
        <foreach collection="likedNumsMap" item="entry" separator=";">
            UPDATE tb_blog
            SET liked = #{entry.value}
            WHERE id = #{entry.key}
        </foreach>
    </update>



</mapper>